<h1>Search</h1>
{% if search.results_count > 0 %}
    <p>results</p>
    {% paginate search.results by 4 %}
    {% for item in search.results %}
        <!-- Result {{ forloop.index }}-->
        <h3>
        {{ item.title | link_to: item.url }}
        </h3>

        {% if item.object_type == 'article' -%}
            {%- comment -%}
                'item' is an article
                All article object properties can be accessed.
            {%- endcomment -%}

            {% if item.image -%}
                <div class="result-image">
                <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    {{ item | image_url: width: 100 | image_tag }}
                </a>
                </div>
            {% endif %}
        {%- elsif item.object_type == 'page' -%}
            {%- comment -%}
                'item' is a page.
                All page object properties can be accessed.
            {%- endcomment -%}
        {%- else -%}
            {%- comment -%}
                'item' is a product.
                All product object properties can be accessed.
            {%- endcomment -%}

            {%- if item.featured_image -%}
                <div class="result-image">
                <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    {{ item.featured_image | image_url: width: 100 | image_tag }}
                </a>
                </div>
            {% endif %}
        {%- endif -%}

        <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>

    {% endfor %}
    {{ paginate | default_pagination }}
    {% endpaginate %}
{% else %}
    <p>no results</p>
{% endif %}